body {
	margin: 0;
	padding: 0;
	font-family: 'Verdana', Helvetica, Arial, sans-serif;
	padding-top: 70px;
	color: cornflowerblue;
	margin-bottom: 70px;
}

div {
	box-sizing: border-box;
}

a {
	color: midnightblue;
	text-decoration: none;
}

a:hover {
	color: red;
}

#header {
	width: 100%;
	min-height: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	background: darkslategray;
	text-align: center;
	padding: 0 20px;
}

#header h1 {
	margin: 0;
	font-size: 2em;
	color: white;
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: static;
}

#main {
	margin: 0;
	padding: 10px;
	width: 80%;
	border-right-style: solid;
	border-right-color: darkslategray;
	border-right-width: 5px;
}

#main h1{
	font-size: 1.5em;
}

.imagesizer {
	position: relative;
	width: 100%;
}

.imagesizer img {
	width: 100%;
	height: auto;
}

#content-area h2 {
	font-size: 2em;
}

#sidebar {
	margin: 0;
	padding: 10px 10px 0 10px;
	width: 20%;
	float: right;
}

#footer {
	clear: both;
	width: 100%;
	height: 60px;
	background: darkslategray;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	color: white;
}