body {
	margin: 0;
	padding: 0;
	font-family: 'Verdana', Helvetica, Arial, sans-serif;
	padding-top: 70px;
	color: darkslategray;
	margin-bottom: 70px;
}

div {
	box-sizing: border-box;
}

pre{
	border-style: solid;
	margin-left: 20%;
	padding: 1em 1em 1em -2em;
	display: block;
	position: relative;
	width: 810px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important;  1999+ Mozilla  
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;   
}

a {
	color: cornflowerblue;
	text-decoration: none;
}

a:hover {
	color: red;
}

#header {
	width: 100%;
	min-height: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	background: darkslategray;
	text-align: center;
	padding: 0 20px;
}

#header h1 {
	margin: 0;
	font-size: 2em;
	color: white;
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

#main {
	margin: 0;
	padding: 10px;
	width: 80%;
}

#main h1{
	font-size: 1.5em;
}

.regular li{
	background-color:#eee;
	border:1px solid;
	border-color:#f3f3f3 #bbb #bbb #f3f3f3;
	margin:0;
	padding:.5em;
}

.inline li{
	display: inline;
	background-color:#eee;
	border:1px solid;
	border-color:#f3f3f3 #bbb #bbb #f3f3f3;
	margin:0;
	padding:.5em;
}

.inlineblock li{
	display: inline-block;
	background-color:#eee;
	border:1px solid;
	border-color:#f3f3f3 #bbb #bbb #f3f3f3;
	margin:0;
	padding:.5em;
}

.imagesizer {
	position: relative;
	width: 100%;
}

.imagesizer img {
	width: 100%;
	height: auto;
}

#content-area h2 {
	font-size: 2em;
}

#sidebar {
	margin: 0;
	padding: 10px 30px 0 10px;
	width: 20%;
	float: left;
	min-height: 175em;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: .9em;

}

#footer {
	clear: both;
	width: 100%;
	height: 60px;
	background: darkslategray;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	color: white;
}