
p {
	color: blue;
	text-decoration: underline;
}

.key {
	color: green;
}

#principal {
	font-weight: bolder;
}

strong { color: red; }
.oranje { color: orange; }
.veggie { color: green; }
#first { font-style: italic; }