html, body {
	font-family: "Verdana";
}

body {
	background: #996600;
	font-size: small;
}

header {
	width: 100%;
	height: 75px;
	background: white;
	margin: 5px;
	padding: 5px;
	border-style: dotted;
	border-color: #996600;
    border-width: 5px;
}

h1 {
	position: absolute;  
   left: 0; 
   width: 100%; 

}

footer {
	vertical-align: text-bottom;
	width: 100%;
	height: 50px;
	background: white;
	margin: 5px;
	padding: 5px;
	position: absolute;
	bottom: 0;
	border-style: dotted;
	border-color: #996600;
    border-width: 5px;

}

.wrapper{
	margin-left: 1%;
	margin-right: 1%;
}

#sidebar {
	float: left;
	margin: 5px;
	background: white;
	width: 15%;
	height: 100%;
	padding: 5px;
	border-style: dotted;
	border-color: #996600;
    border-width: 5px;

}

#main {
	float: left;
	width: 80%;
	margin: 5px;
	background: white;
	height: 100%;
	padding: 5px;
	border-style: dotted;
	border-color: #996600;
    border-width: 5px;
}

#caption{
	height: 75px;
	position: relative;
}

#image{
	position: absolute;
	left: 0;
	top: 0;
}

/* unvisited link */
a:link {
    color: #800000;
}

/* visited link */
a:visited {
    color: #FF9933;
}

/* mouse over link */
a:hover {
    color: #FF3300;
}

/* selected link */
a:active {
    color: #FF6600;
}